<div class="animated fadeIn">
    
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              
            </div><!--/.col-->
            <div class="form-group col-sm-3">
              <label for="ccmonth">Date Range Picker</label>
              <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker (bsValueChange)="dateChange($event)" [bsValue]="bsRangeValue">
                
              </div>

              <div class="right">
                <div class="row">
                  <div class="form-group col-sm-6">
                
                <button type="button" class="btn btn-block btn-primary" (click)="openModalWithAddRecord(template_addRecord)">Add Record</button>
                <ng-template #template_addRecord>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Record</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="addRecordClose()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Note</label>
                        <div class="col-md-9">
                          <input type="text" id="text-input" name="addNote-input" class="form-control" [(ngModel)]="addNote" required>
                          <span class="text-muted">Note can not be empty</span>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Money</label>
                        <div class="col-md-9">
                          <input type="text" id="text-input" name="addMoney-input" class="form-control" [(ngModel)]="addMoney" required>
                          <span class="text-muted">Money can not be empty and must be a valid number</span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Outcome/Income</label>
                        <div class="col-md-9">
                          <select id="select1" name="select1" class="form-control" [(ngModel)]="addOutcome">
                            <option>Outcome</option>
                            <option>Income</option>
                          </select>
                          <span class="text-muted">Record must have a type of outcome or income</span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Date</label>
                        <div class="col-md-9">
                          
                          <input type="text"
                          class="form-control"
                          bsDatepicker
                          #dp="bsDatepicker" 
                          [bsValue]="addDate">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Category</label>
                        <div class="col-md-9">
                          <select id="select1" name="select1" class="form-control" [(ngModel)]="addCatogory">
                            <option *ngFor="let catogory of categories">{{catogory.name}}</option>
                          </select>
                          <span class="text-muted">Category can not be empty</span>
                        </div>
                      </div>

                    </form>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="addRecord()"><i class="fa fa-dot-circle-o"></i> Submit</button>
                  </div>
                </ng-template>
              </div>
              <div class="form-group col-sm-3">
                  <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      Category Actions <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><button type="button" class="btn btn-block btn-link" (click)="openModalWithAddCatogory(template_addCatogory)">Add Category</button></li>
                      <li role="menuitem"><button type="button" class="btn btn-block btn-link" (click)="openModalWithEditCatogory(template_editCatogory)">Edit Category</button></li>
                      <li role="menuitem"><button type="button" class="btn btn-block btn-link" (click)="openModalWithDeleteCatogory(template_deleteCatogory)">Delete Category</button></li>
                      
                    </ul>
                  </div>
                </div>

                <ng-template #template_addCatogory>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Category</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="addCatogoryFunctionClose()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Name</label>
                        <div class="col-md-9">
                          <input type="text" id="text-input" name="text-input" class="form-control" [(ngModel)]="addCatogoryName" required>
                          <span class="text-muted">Category name can not be empty or repeated</span>
                        </div>
                      </div>
                   
                    </form>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="addCatogoryFunction()"><i class="fa fa-dot-circle-o"></i> Submit</button>
                   
                  </div>
                </ng-template>

                <ng-template #template_editCatogory>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit Category</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="editCategoryFunctionClose()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Category</label>
                        <div class="col-md-9">
                          <select id="select1" name="select1" class="form-control" [(ngModel)]="editCatogorySelectName">
                            <option *ngFor="let catogory of categories">{{catogory.name}}</option>
                          </select>
                          <span class="text-muted">Select the catelog which is being to edited</span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Edit Name</label>
                        <div class="col-md-9">
                          <input type="text" id="text-input" name="text-input" class="form-control" [(ngModel)]="editCatogoryName" required>
                          <span class="text-muted">Category name can not be empty or repeated</span>
                        </div>
                      </div>

                    </form>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="editCategoryFunction()"><i class="fa fa-dot-circle-o"></i> Submit</button>
                   
                  </div>
                </ng-template>

                <ng-template #template_deleteCatogory>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Delete Category</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteCategoryFunctionClose()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Category</label>
                        <div class="col-md-9">
                          <select id="select1" name="select1" class="form-control" [(ngModel)]="deleteCatogoryName">
                            <option *ngFor="let catogory of categories">{{catogory.name}}</option>
                          </select>
                          <code class="highlighter-rouge">Notice: deleting a category will delete all records of the category.</code>
                        </div>
                      </div>

                    </form>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="deleteCategoryFunction()"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    
                  </div>
                </ng-template>

              </div>
            
            </div>

          </div><!--/.row-->

          <accordion>
            <div *ngFor="let catogory of catogories">
            <accordion-group [isOpen]="true">
              <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                
                <div class="pull-left float-left"><h5>{{catogory.name}}</h5></div>
                <span class="pull-right float-right">{{catogory.money}}</span>
              </button>
              <div class="col-lg-12">
              <div class="row">
                
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Note</th>
                      <th>Money</th>
                      <th>Outcome/Income</th>
                      <th>Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let record of catogory.records">
                    <tr>
                      <td>{{record.note}}</td>
                      <td>{{record.money}}</td>
                      <td *ngIf="record.outcome==true"><span class="badge badge-secondary">outcome</span></td>
                      <td *ngIf="record.outcome==false"><span class="badge badge-success">income</span></td>
                      <td>{{record.date}}</td>
                      <td>
                        <div class="row">
                        <div class="col-lg-4">
                        <button type="button" class="btn btn-block btn-primary" (click)="openModalWithEditRecord(template_editRecord,record.note,record.money,record.outcome,record.date,catogory.name)">Edit</button>
                      </div>
                      <div class="col-lg-4">
                        <button type="button" class="btn btn-block btn-danger" (click)="openModalWithDeleteRecord(template_deleteRecord,record.note,record.money,record.outcome,record.date,catogory.name)">Delete</button>
                      </div>

                      <ng-template #template_editRecord>
                        <div class="modal-header">
                          <h4 class="modal-title pull-left">Edit Record</h4>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="editRecordFunctionClose()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="text-input">Note</label>
                              <div class="col-md-9">
                                
                                <input type="text" id="text-input" name="note-input" class="form-control" [(ngModel)]="editRecordNote" required>
                                <span class="text-muted">Note can not be empty</span>
                              </div>
                            </div>
                            
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="text-input">Money</label>
                              <div class="col-md-9">
                                <input type="text" id="text-input" name="money-input" class="form-control" [(ngModel)]="editRecordMoney" required>
                                <span class="text-muted">Money can not be empty and must be a valid number</span>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="select1">Outcome/Income</label>
                              <div class="col-md-9">
                                <select id="select1" name="select" class="form-control" [(ngModel)]="editRecordOutcome">
                                  <option>Outcome</option>
                                  <option>Income</option>
                                </select>
                                <span class="text-muted">Record must have a type of outcome or income</span>
                              </div>
                            </div>
      
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="date-input">Date</label>
                              <div class="col-md-9">
                                
                                <input type="text"
                                class="form-control"
                                bsDatepicker
                                #dp="bsDatepicker" 
                                [bsValue]="editRecordDate">
                              </div>
                            </div>
      
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="select1">Category</label>
                              <div class="col-md-9">
                                <select id="select1" name="select1" class="form-control" [(ngModel)]="editRecordCatogory">
                                  <option *ngFor="let catogory of categories">{{catogory.name}}</option>
                                </select>
                              </div>
                            </div>
      
                          </form>
                        </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-sm btn-primary" (click)="editRecordFunction(record.id,catogory.name)"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        </div>
                      </ng-template>

                      <ng-template #template_deleteRecord>
                        <div class="modal-body text-center">
                          <p>Do you confirm to delete the record?</p>
                          <button type="button" class="btn btn-default" (click)="confirm(record.id)" >Yes</button>
                          <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
                        </div>
                      </ng-template>

                    </div>
                      </td>
                    </tr>
                   
                  </tbody>
                      </table>            
                <!--/.col-->
              </div>
            </div>
            </accordion-group>
          </div>
          </accordion>
          
        </div>
        </div>
</div>