<ng-template #template_editBudget>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Record</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="editRecordFunctionClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">       
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="number-input">Money</label>
        <div class="col-md-9">
          <input type="number" id="number-input" name="money-input" class="form-control" [(ngModel)]="Budget" required>
          <span ng-show="money-input.$error.number">Money can not be empty and must be a valid number</span>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary" (click)="submitBudget()"><i class="fa fa-dot-circle-o"></i> Submit</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-header">
        Used Budget
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    </div>

    <div class="col-sm-5">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> HomeBudget
        </div>
        <div class="form-group col-sm-3">
          <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker (bsValueChange)="dateChange($event)" [bsValue]="bsRangeValue">
        </div>
        <div class="card-body">
          <table class="table">    
              <tr>
                <th>Expense</th>
                <td>{{ Expense}}</td>    
                
              </tr>
              <tr>
                <th>Income</th>
                <td>{{ Income}}</td>                   
              </tr>
      
              <tr>
                <th>Account</th>
                <td>{{Account}}</td>    
                
              </tr>
              <tr>
                <th>Budget</th>
                <td>{{ Budget}}</td>    
                <button type="button" class="btn btn-primary" (click)="openModal(template_editBudget)">Add Budget</button>
              </tr>          
          </table>
        </div>
      </div>
    </div>
    </div>



